<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBVHMcu0H59hkrfynq3aZPIpi2IEetQBg0</string>
	<key>GCM_SENDER_ID</key>
	<string>950280277458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nomaddev.plasticDiver</string>
	<key>PROJECT_ID</key>
	<string>plastic-dive</string>
	<key>STORAGE_BUCKET</key>
	<string>plastic-dive.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950280277458:ios:b6c0b79a7d0a9b76118c0b</string>
</dict>
</plist>